body {
    background-color: #7802bd;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

p{
    font-family: georgia;
    text-align: justify;
}

p, h1, h2, ol {
    font-style: italic;
    color: aliceblue;
    word-wrap: break-word;
    font-size: clamp(1rem, 2.5vw, 30px);
}

h1 {
    font-family: georgia;
}

h2 {
    font-family: georgia;
    border: 10px groove black;
}

ol {
    border: 10px groove black;
    text-align: justify;
}

table {
    border: 10px groove black;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 768px) {
    p {
        font-size: 20px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    ol {
        font-size: 20px;
    }
}

.contenuto-principale {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    border: 10px groove #7f8c8d;
}
